* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$backgroundColor: rgb(33, 33, 33);
$toggleCheckedColor: red;

@mixin backgroundColor($bg) {
  background-color: $bg;
}

@mixin borderRadius() {
  border-radius: 50px;
}

body {
  height: 100vh;
  @include backgroundColor($backgroundColor);
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
}

.toggle {
  width: 100px;
  height: 50px;
  position: relative;
  cursor: pointer;
  @include backgroundColor(white);
  @include borderRadius();

  #checkbox {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: -1;
  }

  .cycle {
    position: absolute;
    z-index: 10;
    top: 3px;
    left: 3px;
    width: 45px;
    height: 45px;
    @include borderRadius();
    @include backgroundColor($backgroundColor);
    transition: all 0.3s ease;

    &.light {
      @include backgroundColor(white);
    }
  }

  #checkbox:checked + .cycle {
    left: calc(100% - 50px);
  }

  #checkbox:checked + .cycle.light {
    right: 3px;
  }
}
